<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>全国新增确诊趋势</title>
    <script type="text/javascript" src="echarts/echarts.min.js"></script>
</head>
<body>


<div id="main" style="width: 900px;height:600px;"></div>
<script th:inline="javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    var dateStr = [[${dataList}]]
    var confirmStr = [[${confirmList}]]
    var suspectStr = [[${suspectList}]]
    // 指定图表的配置项和数据
    var option = {
        // 组建标题
        title: {
            text: '全国新增确诊趋势'
        },
        // 提示框组件
        tooltip: {
            trigger: 'axis'
        },
        // 曲线含义说明
        legend: {
            data: ['新增确诊', '新增疑似']
        },
        xAxis: {
            // 转化为json对象
            data: JSON.parse(dateStr),
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            name: '新增确诊',
            data: JSON.parse(confirmStr),
            type: 'line'
        }, {
            name: '新增疑似',
            data: JSON.parse(suspectStr),
            type: 'line'
        }]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>

</body>
</html>